.signin-page,
.signup-page {
  .mb-hidden {
    display: none;

    @media screen and (min-width: $pc-breakpoint) {
      display: initial;
    }
  }

  .pc-hidden {
    display: initial;

    @media screen and (min-width: $pc-breakpoint) {
      display: none;
    }
  }

  .intro {
    li {
      text-align: left;
    }
  }

  .link-area {
    .link {
      text-decoration: underline;
    }
  }

  .bg-color-intro {
    background-color: $intro-color;
  }

  .wrapper {
    max-width: 1280px;
  }

  .auth-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;

    .discription-area {
      text-align: left;
    }

    .signin,
    .signup {
      border-radius: $subcomponent-borderradius-pc;
    }
  }

  .basic-form {
    @media screen and (min-width: $tb-breakpoint) {
      align-items: center;
    }
  }
}
