.search {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.search-form {
  padding: 1rem;
  border-radius: $lg-border-radius;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: $green-color;
  text-align: center;
}
