.signup {
  &_description-area {
    padding: 0 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background: $intro-color;

    ul {
      padding-left: 2rem;
      li {
        display: flex;
        padding: 0 0 0.5rem;
        .left-align {
          text-align: left;
        }
      }
    }

    p {
      text-align: left;
      padding-left: 1rem;
    }
  }

  &_form {
    padding: 1rem 2rem;
    background: $primary-color-light;

    form {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
    }

    label {
      width: 100%;
      text-align: left;
      display: block;
      padding: 1rem 0 .5rem;
    }

    button {
      margin: 2rem 0 0;
    }

    .signin-link-area {
      text-align: center;
      padding: 1rem 0;

      &_link {
        font-weight: $label-fontweight;
        text-decoration: underline;
      }
    }
  }
}

@media screen and (min-width: $tb-breakpoint){
  .signup {
    &_form {
      label {
        width: $input-width;
      }
    }
  }
}

@media screen and (min-width: 700px){
  .signup {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background: $intro-color;

    &_form {
      padding: 1rem;
      border-radius: $subcomponent-borderradius-pc;

      label {
        width: $input-width;
      }
    }

    .wrapper{
      padding: 4rem 0;
    }

    .changeBg{
      width: unset;
      padding: 4rem 1rem;
      background: $intro-color;
    }

    .intro{
      align-self: center;
    }
  }
}
