.signin{
  display: flex;
  flex-flow: column nowrap;
  background: $footer-color;

  .image-area {
    display: none;
  }

  &_form{
    padding: 2rem 1rem 3rem;
    margin: 1rem;
    border-radius: $sm-border-radius;
    background:$light-purple;

    h2{
      text-align: center;
    }

    label {
      display: block;
      padding: 1rem 0 .5rem;
    }

    button{
      margin: 2rem 0;
    }

    hr {
      box-sizing: content-box;
      height: 1.2px;
      overflow: visible;
      background: black;
    }

    .signup-link-area{
      text-align: center;
      padding: 1rem 0;

      &_link{
        font-weight: 600;
        text-decoration: underline;
      }
    }
  }
}

@media screen and (min-width: $tb-breakpoint){
  .signin{
    padding: 2rem 0;
    flex-flow: row nowrap;
    justify-content: space-around;

    .image-area {
      padding: 0 1rem;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      max-width: 700px;

      img{
        flex: 0 0 40%;
      }
    }

    &_form{
      flex: 0 0 40%;
      max-width: 400px;
    }
  }
}