.signup{
  display: flex;
  flex-flow: column nowrap;
  background: $footer-color;

  &_description{
    display: none;
  }

  &_form{
    padding: 2rem 1rem 3rem;
    margin: 1rem;
    border-radius: 15px;
    background:$light-pink-color;

    h2{
      text-align: center;
    }

    label {
      display: block;
      padding: 1rem 0 .5rem;
    }

    button{
      margin: 2rem 0 0;
      background: $pink-color;
    }

    .signin-link-area{
      text-align: center;
      padding: 1rem 0;

      &_link{
        font-weight: 600;
        text-decoration: underline;
      }
    }
  }
}

@media screen and (min-width: 700px){
  .signup{
    &_description{
      display: block;
    }
  }
}