@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: content-box;
}

body {
  padding-top: $header-height-mb;
  font-family: $paragraph-fontfamily;
  font-size: $standard-fontsize-mb;
  line-height: 1.5;
  color: $font-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-fontfamily;
  text-transform: uppercase;
}

h1 {
  font-size: $h1-fontsize-mb;
}

h2 {
  font-size: $h2-fontsize-mb;
}

h3 {
  font-size: $h3-fontsize-mb;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  padding: 1.5rem;
  max-width: $md-max-width;
  margin: 0 auto;
}

// for team sub component
.wrapper-lg {
  padding: 1.5rem;
  max-width: $lg-max-width;
  margin: 0 auto;
}

.mb-hidden {
  display: none;
}

@media screen and (min-width: $tb-breakpoint) {
  body {
    padding-top: $header-height-pc;
    font-size: $standard-fontsize-pc;
  }

  h1 {
    font-size: $h1-fontsize-pc;
  }

  h2 {
    font-size: $h2-fontsize-pc;
  }

  h3 {
    font-size: $h3-fontsize-pc;
  }

  .wrapper {
    padding: 3rem;
  }

  .mb-hidden {
    display: initial;
  }

  .pc-hidden {
    display: none;
  }
}
