@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: $paragraph-fontfamily;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-fontfamily;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: $tb-breakpoint) {
  body {
    font-size: 18px;
  }
}
