.contact {
  padding: 2rem;
  border-radius: $lg-border-radius;
  background-color: $green-color;

  &__form {
    display: flex;
    flex-flow: nowrap column;
    gap: 2rem;
  }

  h2 {
    text-align: center;
  }

  input,
  textarea {
    margin-top: 0.5rem;
  }

  label {
    font-weight: 700;
  }
}
