.summary-wrapper {
  @media screen and (min-width: $pc-breakpoint) {
    max-width: 1300px;
    display: flex;
    grid-gap: 3rem;
  }

  .button-wrapper {
    margin-top: 3rem;
    @media screen and (min-width: $pc-breakpoint) {
      text-align: right;
    }
  }
}

.dashboard-meal-summary,
.dashboard-walk-summary {
  margin-bottom: 2rem;
  @media screen and (min-width: $pc-breakpoint) {
    margin-bottom: 0;
    min-width: 0;
  }
  @media screen and (min-width: $tb-breakpoint) {
    display: block;
  }
}
