.dashboard-summary {
}

.dashboard-meal-summary,
.dashboard-walk-summary {
  @media screen and (min-width: $tb-breakpoint) {
    display: block;
  }
}

.dashboard-meal-summary {
  @media screen and (min-width: $tb-breakpoint) {
    // background-color: $primary-color-light;
    border-radius: 10px;
  }
}

.dashboard-walk-summary {
  @media screen and (min-width: $tb-breakpoint) {
    // background-color: $secondary-color-light;
    border-radius: 10px;
  }
}

.button-wrapper {
  text-align: right;
  margin-top: 3rem;
}
