.dashboard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.latest-summary {
  padding: 1rem;
  border-radius: $lg-border-radius;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: $purple-color;
  text-align: center;
}

.latest-summary-content {
  padding: 1rem;
  border-radius: $lg-border-radius;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: $light-purple;
  text-align: center;

  h3 {
    text-align: left;
  }
}

.pet-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  p {
    flex-basis: 50%;
  }
  .pet-detail {
    border-bottom: solid 1.5px $navy-color;
  }
}
