.dashboard-pet-profile {
  background-color: $secondary-color;
  border-radius: $subcomponent-borderradius-mb;
  @media screen and (min-width: $tb-breakpoint) {
    background-color: white;
    border: 1px solid $font-color;
  }
}

.dashboard-pet-profile-wrapper {
  background-color: $secondary-color-light;
  border-radius: $subcomponent-borderradius-mb;
  padding: 1rem;
  @media screen and (min-width: $tb-breakpoint) {
    background-color: white;
  }
}

.pet-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;

  p {
    flex-basis: 50%;
  }
  .pet-detail {
    border-bottom: solid 1.5px $font-color;
  }
}

.dashboard-pet-profile {
  padding: 1rem;
}

.dashboard-meal-summary {
  padding: 1rem;
}
.dashboard-walk-summary {
  padding: 1rem;
}
