.dashboard-meal-summary,
.dashboard-walk-summary {
  display: none;
  @media screen and (min-width: $tb-breakpoint) {
    display: block;
  }
}

.dashboard-meal-summary {
  @media screen and (min-width: $tb-breakpoint) {
    background-color: $primary-color-light;
    border-radius: $subcomponent-borderradius-mb;
  }
}

.dashboard-walk-summary {
  @media screen and (min-width: $tb-breakpoint) {
    background-color: $secondary-color-light;
    border-radius: $subcomponent-borderradius-mb;
  }
}

.button-wrapper {
  text-align: right;
  margin-top: 3rem;
}
