.features {
  .feature {
    margin-bottom: 1.5rem;

    &__img-area {
      width: 122px;
      margin: 0 auto;
    }
  }

  @media screen and (min-width: $tb-breakpoint) {
    .feature {
      margin-bottom: 3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;

      &__text {
        flex-basis: 70%;
        text-align: left;
      }

      &__img-area {
        flex-basis: 30%;
        min-height: 240px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-align: right;
      }

      &:nth-child(2n + 1) {
        .feature__img {
          order: -1;
          text-align: left;
        }
      }
    }
  }
}
