header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height-mb;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $standard-fontsize-mb;
  background-color: $base-color;
}

.header__wrapper {
  width: 100%;
  max-width: $md-max-width;
  margin: 0 auto;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
