header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height-mb;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $standard-fontsize-mb;
  background-color: $base-color;

  a {
    display: block;
  }
}

.header__wrapper {
  width: 100%;
  max-width: $md-max-width;
  margin: 0 auto;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-list {
  padding: 2rem 1.5rem;
  z-index: 10;
}

.active {
  font-weight: $btn-fontweight;
  border-bottom: 3px solid;
  border-color: $intro-color;
}

.header-divider {
  border-right: 1px solid $font-color;
  height: 40px;
}

@media screen and (max-width: $pc-breakpoint) {
  .site-logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }

  .header-list {
    display: none;
  }
}
