.mobile-menu {
  z-index: 10;
  padding: 2rem 1.5rem;
  @media screen and (min-width: $tb-breakpoint) {
    padding: 4rem 3rem;
  }
}

.btn-mobile-menu {
  width: 80%;
}

.btn-mobile-menu:hover {
  background-color: white;
}

.btn-mobile-menu a {
  display: block;
}

@media screen and (min-width: $pc-breakpoint) {
  .mobile-menu {
    display: none;
  }
}
