.intro {
  text-align: center;
  background-color: $intro-color;

  &__img {
    display: none;
  }

  &__btn {
    margin: 1rem 0;
  }

  @media screen and (min-width: $tb-breakpoint) {
    text-align: left;

    &__body {
      flex-basis: 50%;
      display: flex;
      flex-flow: nowrap column;
      justify-content: space-between;
    }

    &__img {
      flex-basis: 50%;
      text-align: right;
      display: block;
    }

    &__btn {
      margin: 0;
    }
  }
}
