.premium-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  h2 {
    // "Subscribe To"
    & span {
      text-transform: capitalize;
      font-family: $paragraph-fontfamily;
      display: block;
    }
  }
  .features-detail {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 0.5rem;
    .feature-wrapper {
      display: flex;
      flex-flow: row nowrap;
      gap: 0.7rem;
      width: 240px;
      p {
        text-align: left;
        margin: 0;
        font-weight: 300;
      }
    }
  }
  .plans-options {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 1rem;
    .plan-wrapper {
      display: flex;
      flex-flow: column;
      align-items: center;
      width: 120px;
      border: 1px solid $btn-bordercolor-outlined;
      border-radius: $subcomponent-borderradius-mb;
      padding: 0.5rem;
      p {
        margin: 0.4rem 0;
      }
      //price
      p:nth-of-type(2) {
        font-size: 20px;
      }
      // Annual Plan
      &:nth-of-type(2) {
        background-color: $secondary-color-light;
      }
    }
  }
  .button-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
  }
}

@media screen and (min-width: $tb-breakpoint) {
  .premium {
    display: grid;
    grid-gap: 0 !important;
  }
  .premium-content {
    justify-content: flex-start;
    gap: 1.5rem;
    padding: 0;
    background-color: transparent;
    .features-detail {
      flex-flow: row wrap;
    }
    .plans-options {
      gap: 2rem;
      .plan-wrapper {
        width: 192px;
        p {
          margin: 0.2rem;
        }
      }
    }
    button {
      height: 60px;
    }
  }
}
