.pet-profile-form{
  background: $green-color;
  padding: 2rem 1rem;
  border-radius: 10px;

  &_area{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    .pet-type, .spay{
    display: flex;
    flex-flow: row wrap;
    text-align: center;

    label{
      padding: 1rem 0;
      width: 100%;
    }

    .pet-type_cat, .pet-type_dog, .spayed, .notSpayed {
      flex: 50%;
    }
  }

  .input-area{
    margin: .5rem 0;
    width: 100%;

    label{
      display: block;
      padding: .3rem 0;
    }
  }
  }

  &_image{
    img{
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: .5rem $yellow-color solid;
      object-fit: cover;
    }
  }

  button{
    margin: 2rem 0;
    padding: 0 1rem;
  }
}

.add-pet{
  border-radius: 10px;
  padding:2rem;
  text-align: center;
  background-color: $purple-color;

  button{
    font-size: 2rem;
    font-weight: 700;
  }
}

@media screen and (min-width: $tb-breakpoint){
  .pet-profile-form {
    &_area{
      text-align: center;
      flex-flow: row wrap;
      justify-content: center;
      .pet-profile-form_image {
        width: 100%;
      }

      .input-area{
        flex: 0 0 40%;
        padding: 0 1rem;

        label{
          text-align: left;
        }
      }

      .pet-type, .spay {
        width: 100%;
        justify-content: center;

        .pet-type_cat, .pet-type_dog, .spayed, .notSpayed {
          flex: unset;
          padding: 0 .5rem;
        }
      }
    }
    button{
      padding: 0 5rem;
      margin: 2rem auto;
      display: block;
    }
  }
}