.walk-form,
.meal-form {
  border-radius: $sm-border-radius;
  padding: 1rem;

  .input-wrapper {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.7rem;
    div {
      display: flex;
      flex-flow: column nowrap;
      gap: 0.3rem;
      label {
        font-weight: 700;
      }
    }
  }
  // CREATE, CANCEL BUTTON
  .button-wrapper {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;

    .btn-outlined {
      border: 1px solid $white-color;
      background-color: transparent;
    }
  }
} // end of form
.meal-week-month-graphs-wrapper,
.walk-week-month-graphs-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 1rem;
  border-radius: $sm-border-radius;
  h3 {
    font-size: $md-fontsize;
    text-align: center;
  }
  // pet name, pet img, add btn
  .basic-info {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0 2.5rem 0;
    h3 {
      margin: 0 auto 0.5rem;
    }
    p {
      margin: 0;
      text-align: center;
    }
    .pet-image-name-wrapper {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      .pet-name {
        padding-top: 0.5rem;
      }
    }
    .pet-image {
      width: 78px;
      height: 130px;
      object-fit: cover;
      background-color: white;
      border-radius: $md-border-radius;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
  }
}

// Meal Summary Background
.meal-summary {
  .meal-form {
    background-color: $green-color;
  }
}

.meal-week-month-graphs-wrapper,
.meal-toggle-graph {
  background-color: rgba($green-color, 0.5);
  padding: 1rem;
  h3 {
    margin: 0;
    padding: 1.5rem 0;
  }
  .button-background {
    background-color: rgba($green-color, 0.3);
    .btn-darkened {
      background-color: rgba($green-color, 0.5);
    }
  }
}

// Activity Sammary Background
.walk-summary {
  .walk-form {
    background-color: $purple-color;
  }
}

.walk-week-month-graphs-wrapper,
.walk-toggle-graph {
  background-color: rgba($purple-color, 0.4);
  padding: 1rem;
  h3 {
    margin: 0;
    padding: 1.5rem 0;
  }
  .button-background {
    background-color: rgba($purple-color, 0.2);
    .btn-darkened {
      background-color: rgba($purple-color, 0.4);
    }
  }
}
@media screen and (min-width: $tb-breakpoint) {
  .meal-week-month-graphs-wrapper,
  .walk-week-month-graphs-wrapper {
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 1rem;
    .basic-info {
      width: 80%;
      display: grid;
      grid-template-rows: 1fr auto 1fr;
      justify-self: center;
      h3 {
        // meal summary title
        align-self: start;
      }
      .pet-image-name-wrapper {
        align-self: start;
        .pet-image {
          width: 120px;
          height: 200px;
        }
      }
    }
  }
}
