.meal-form-wrapper {
  background-color: $green-color;
}

.walk-form-wrapper {
  background-color: $purple-color;
}

.modal {
  opacity: 0;
  z-index: 120;
  transform: scale(0);
  transition: opacity 0.7s, transform 0s 0.7s;
}

.modal.isActive {
  opacity: 1;
  z-index: 120;
  transform: scale(1);
  height: calc(100vh - 83.5px);
  transition: opacity 0.7s;
  position: fixed;
  top: 83.5px; // subtract height of header
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(196, 196, 196, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  padding: 0;
  // inactivate any kind of click on overlay background area
  pointer-events: none;
}

.walk-form-wrapper,
.meal-form-wrapper {
  p {
    margin: 0;
  }
  position: absolute;
  top: calc(50% - 41.7px); // height of header / 2
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: calc(100vw - 9px);
  border-radius: $sm-border-radius;
  padding: 1rem;
  // 4rem = 2rem margin on top and bottom margin respectively
  // between overlay and form
  height: calc((100% - 83.5px) - 9px);
  // Clicking is invalid on overlay background,
  // therefore "pointer-events: all" is necessary
  // to click inside form content (e.g. inputs, button)
  pointer-events: all;

  .meal-form-content {
    padding-bottom: 3rem;
    height: calc(100% - 2rem);
    overflow-y: scroll;
  }

  .input-wrapper {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.7rem;
    div {
      display: flex;
      flex-flow: column nowrap;
      gap: 0.3rem;
      label {
        font-weight: 700;
      }
    }
  }
  // CREATE, CANCEL BUTTON
  .button-wrapper {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;

    .btn-outlined {
      border: 1px solid $white-color;
      background-color: transparent;
    }
  }
} // end of form
.meal-week-month-graphs-wrapper,
.walk-week-month-graphs-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 1rem;
  border-radius: $sm-border-radius;
  h3 {
    font-size: $md-fontsize;
    text-align: center;
  }
  // pet name, pet img, add btn
  .basic-info {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0 2.5rem 0;
    h3 {
      margin: 0 auto 0.5rem;
    }
    p {
      margin: 0;
      text-align: center;
    }
    .pet-image-name-wrapper {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      .pet-name {
        padding-top: 0.5rem;
      }
    }
    .pet-image {
      width: 78px;
      height: 130px;
      object-fit: cover;
      background-color: white;
      border-radius: $md-border-radius;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
  }
}

// summary page meal graphs
.meal-week-month-graphs-wrapper {
  background-color: rgba($green-color, 0.5);
  padding: 1rem;
  h3 {
    margin: 0;
    padding: 1.5rem 0;
  }
  .button-background {
    background-color: rgba($green-color, 0.3);
    .btn-darkened {
      background-color: rgba($green-color, 0.5);
    }
  }
}

// dashboard page meal graphs
.dashboard-meal-summary {
  .button-background {
    background-color: rgba($green-color, 0.3);
    .btn-darkened {
      background-color: rgba($green-color, 0.5);
    }
  }
}

// summary page walk graphs
.walk-week-month-graphs-wrapper {
  background-color: rgba($purple-color, 0.4);
  padding: 1rem;
  h3 {
    margin: 0;
    padding: 1.5rem 0;
  }
  .button-background {
    background-color: rgba($purple-color, 0.2);
    .btn-darkened {
      background-color: rgba($purple-color, 0.4);
    }
  }
}
// dashboard page walk graphs
.dashboard-walk-summary {
  .button-background {
    background-color: rgba($purple-color, 0.2);
    .btn-darkened {
      background-color: rgba($purple-color, 0.4);
    }
  }
}
@media screen and (min-width: $tb-breakpoint) {
  .meal-week-month-graphs-wrapper,
  .walk-week-month-graphs-wrapper {
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 1rem;
    .basic-info {
      width: 80%;
      display: grid;
      grid-template-rows: 1fr auto 1fr;
      justify-self: center;
      h3 {
        // meal summary title
        align-self: start;
      }
      .pet-image-name-wrapper {
        align-self: start;
        .pet-image {
          width: 120px;
          height: 200px;
        }
      }
    }
  }

  .walk-form-wrapper,
  .meal-form-wrapper {
    p {
      margin: 0;
    }
    position: absolute;
    top: calc(50% - 41.7px); // height of header / 2
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 877px; // temporary * need to be changed
    border-radius: $sm-border-radius;
    padding: 1rem;
    // 4rem = 2rem margin on top and bottom margin respectively
    // between overlay and form
    height: calc((100% - 83.5px) - 4rem);
    // Clicking is invalid on overlay background,
    // therefore "pointer-events: all" is necessary
    // to click inside form content (e.g. inputs, button)
    pointer-events: all;

    .meal-form-content {
      padding-bottom: 3rem;
      height: calc(100% - 2.5rem);
      overflow-y: scroll;
    }
  }
}
