.walk-summary,
.meal-summary {
  h3 {
    font-size: $md-fontsize;
    text-align: center;
  }
  // FORM + GRAPHS
  .function-wrapper {
    // FORM
    .walk-form,
    .meal-form {
      border-radius: $sm-border-radius;
      padding: 1rem;

      .input-wrapper {
        display: flex;
        flex-flow: column nowrap;
        gap: 0.7rem;
        div {
          display: flex;
          flex-flow: column nowrap;
          gap: 0.3rem;
          label {
            font-weight: 700;
          }
        }
      }
      // CREATE, CANCEL BUTTON
      .button-wrapper {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;

        .btn-outlined {
          border: 1px solid $white-color;
          background-color: transparent;
        }
      }
    } // end of form
    .meal-week-month-graphs-wrapper,
    .walk-week-month-graphs-wrapper {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      padding: 1rem;
      border-radius: $sm-border-radius;
      // pet name, pet img, add btn
      .basic-info {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 1rem;
        padding: 1rem 0 2.5rem 0;
        h3 {
          margin: 0 auto 0.5rem;
        }
        p {
          margin: 0;
        }
        .pet-image {
          width: 78px;
          height: 130px;
          object-fit: cover;
          background-color: white;
          border-radius: $md-border-radius;
          display: flex;
          align-items: center;
          text-align: center;
        }
      }
      .graphs {
        width: 100%;
        .week-month-toggle {
          background-color: $lighten-color;
          border-top-left-radius: 18px;
          border-top-right-radius: 18px;
          .button-background {
            display: flex;
            height: 35px;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            padding: 0 1rem;
            .button-no-accent {
              background-color: transparent;
            }
            button {
              font-size: $sm-fontsize;
              color: $navy-color;
            }
          }
        }

        .walk-week-graph,
        .walk-month-graph,
        .meal-week-graph,
        .meal-month-graph {
          background-color: $lighten-color;
          border-bottom-left-radius: $sm-border-radius;
          border-bottom-right-radius: $sm-border-radius;
          padding-bottom: calc(1rem + 50px);
          .week-controller,
          .month-controller {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            button {
              width: 50px;
              background-color: transparent;
            }
            p {
              font-size: $sm-fontsize;
            }
          }
          .graph-height {
            height: 300px;
            .recharts-default-legend {
              display: flex;
              flex-flow: row wrap;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}

// Meal Summary Background
.meal-summary {
  .meal-form {
    background-color: $green-color;
  }
}

.meal-week-month-graphs-wrapper,
.meal-toggle-graph {
  background-color: rgba($green-color, 0.5);
  padding: 1rem;
  h3 {
    margin: 0;
    padding: 1.5rem 0;
  }
  .button-background {
    background-color: rgba($green-color, 0.3);
    .btn-darkened {
      background-color: rgba($green-color, 0.5);
    }
  }
}

// Activity Sammary Background
.walk-summary {
  .walk-form {
    background-color: $purple-color;
  }
}

.walk-week-month-graphs-wrapper,
.walk-toggle-graph {
  background-color: rgba($purple-color, 0.4);
  padding: 1rem;
  h3 {
    margin: 0;
    padding: 1.5rem 0;
  }
  .button-background {
    background-color: rgba($purple-color, 0.2);
    .btn-darkened {
      background-color: rgba($purple-color, 0.4);
    }
  }
}
