.meal-summary,
.walk-summary {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .basic-info {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0 2.5rem 0;

    .pet-image-name-wrapper {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;

      .pet-name {
        padding-top: 0.5rem;
      }
      .pet-image {
        width: 78px;
        height: 130px;
        object-fit: cover;
        background-color: white;
        border-radius: $subcomponent-borderradius-mb;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
      }
    }
  }
}

.meal-summary {
  .button-background {
    background-color: rgba($primary-color, 0.3);

    .btn-darkened {
      background-color: rgba($primary-color, 0.5);
    }
  }
}

.dashboard-meal-summary {
  .button-background {
    background-color: rgba($primary-color, 0.3);
    .btn-darkened {
      background-color: rgba($primary-color, 0.5);
    }
  }
}

.walk-summary {
  .button-background {
    background-color: rgba($secondary-color, 0.2);

    .btn-darkened {
      background-color: rgba($secondary-color, 0.4);
    }
  }
}

.dashboard-walk-summary {
  .button-background {
    background-color: rgba($secondary-color, 0.2);

    .btn-darkened {
      background-color: rgba($secondary-color, 0.4);
    }
  }
}

@media screen and (min-width: 850px) {
  .meal-summary,
  .walk-summary {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-auto-columns: minmax(300px, auto) minmax(300px, 1fr);
    gap: 1rem;

    .basic-info {
      width: 80%;
      display: grid;
      grid-template-rows: 1fr auto;
      justify-self: center;

      .pet-image-name-wrapper {
        align-self: start;

        .pet-image {
          width: 120px;
          height: 200px;
        }
      }
      button {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
