.meal-form {
  background-color: $primary-color;
}

.walk-form {
  background-color: $secondary-color;
}

.walk-form,
.meal-form {
  .meal-form-content,
  .walk-form-content {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    padding-bottom: 3rem;
  }
  input,
  select,
  button {
    box-sizing: border-box;
  }
  form {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    .input-wrapper {
      display: grid;
      gap: 1rem;
      div {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        text-align: left;
        .input-unit {
          position: absolute; // unit such as kcal, km
          top: 25px; // depends on input size
          right: 1rem;
        }
      }
    }
    // CREATE, CANCEL BUTTON
    .button-wrapper {
      display: flex;
      flex-flow: column nowrap;
      gap: 1rem;
      margin: 0;
    }
  }
}

@media screen and (min-width: $tb-breakpoint) {
  .walk-form,
  .meal-form {
    .meal-form-content,
    .walk-form-content {
      display: flex;
      flex-flow: column nowrap;
      gap: 2rem;
      padding-bottom: 3rem;
      min-height: calc(100%);
      h2 {
        margin: 0;
      }
      input,
      .input,
      select,
      button {
        box-sizing: border-box;
        width: 100%;
      }
      form {
        .input-wrapper {
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 1.5rem;
          row-gap: 1rem;
          div {
            .input-unit {
              position: absolute;
              top: 27px;
            }
          }
        }
        .button-wrapper {
          // cancel and create buttons switch
          flex-direction: row-reverse;
        }
      }
    }
  }
}
