.walk-daily,
.meal-daily {
  .info {
    padding: 1rem 0.5rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;

    .daily-list {
      border: 1px solid $font-color;
      padding: 1rem 0.5rem;
      border-radius: $subcomponent-borderradius-mb;

      > p:first-of-type {
        font-weight: 300;
        border-bottom: 1px solid rgba($font-color, 0.5);
      }

      p {
        padding: 0.5rem 0;
      }

      .list-item {
        padding: 0.5rem 0;

        p {
          padding: 0;
        }
      }
    }
  }
}

@media screen and (min-width: $tb-breakpoint) {
  .walk-daily,
  .meal-daily {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 1rem 3rem 1rem 3rem;

    .info {
      gap: 2rem;

      label {
        font-size: $standard-fontsize-mb;
        display: grid;
        grid-template-columns: 40% 60%;
        align-items: center;
      }
    }

    .meal-daily-graph {
      display: flex;
      align-self: center;
    }
  }
}
