.activity-stats {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-align: center;
  .activity-avg {
    flex-basis: 50%;
    border: 1px solid $font-color;
    border-radius: $subcomponent-borderradius-mb;
  }
}
