@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// Colors
$lighten-color: rgba(255, 255, 255, 0.64);
$white-color: #fff;
$yellow-color: #ffdd95;
$green-color: #86e3ce;
$darkgreen-color: darkgreen; // TBD
$purple-color: rgba(204, 171, 218, 0.82);
$light-purple: rgba(237, 225, 248, 1);
$navy-color: #3b3054;
$pink-color: rgba(252, 136, 123, 0.49);
$light-pink-color:rgba(252, 136, 123, 0.34);
$footer-color: #f8f3fa;
$light-black: #373f41;

// Font Family
$header-fontfamily: 'To Japan', helvetica, arial, sans-serif;
$paragraph-fontfamily: 'Content', helvetica, arial, sans-serif;

// Font Size
$sm-fontsize: 0.875rem; // 22px in first MockUp
$md-fontsize: 1rem; // 26px in first MockUp
$lg-fontsize: 1.5rem; // 32px in first MockUp

// Border Radius
$sm-border-radius: 10px; // 15px in first MockUp
$md-border-radius: 15px; // 25px in first MockUp
$lg-border-radius: 30px; // 50px in first MockUp
$xl-border-radius: 40px; // 65px in first MockUp

// Breakpoints
$tb-breakpoint: 600px; // TBD
$pc-breakpoint: 960px; // TBD

// Max Width
$max-width: 1280px;
