button {
  width: 300px;
  height: 50px;
  border-radius: $md-border-radius;
  border-width: 0;
  font-size: $md-fontsize;
  text-transform: capitalize;
  cursor: pointer;
}

//Size
//Mobile
.btn--sm {
  width: 120px;
  height: 40px;
}

// // Laptop
// /* Home */
// .btn--lg-home {
//   width: 450px;
//   height: 100px;
// }
// .btn--sm-home {
//   width: 360px;
//   height: 100px;
// }

// /* Calculator*/
// .btn--calculator {
//   width: 300px;
//   height: 50px;
// }

// /* Login, Signup*/
// .btn--login {
//   width: 270px;
//   height: 48px;
// }

// /* Meal Summary, Activity Summary*/
// .btn-summary {
//   width: 320px;
//   height: 70px;
// }
// .btn--summary-toggle {
//   width: 280px;
//   height: 48px;
// }
// .btn--summary-add {
//   width: 380px;
//   height: 60px;
// }
// .btn--summary-cancel {
//   width: 190px;
//   height: 60px;
// }

// /* Dashboard*/
// .btn-toggle-dashboard {
//   width: 200px;
//   height: 33px;
//   border-radius: 20px;
//   box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.25);
// }
// .btn-dashboard {
//   width: 160px;
//   height: 50px;
// }

// /* Header*/
// .btn-header-icon {
//   width: 64px;
//   height: 64px;
// }
// .btn-header {
//   width: 100px;
//   height: 50px;
// }

// /* Footer*/
// .btn-footer {
//   width: 180px;
//   height: 55px;
// }

// /* Map*/
// .btn-map {
//   width: 300px;
//   height: 50px;
// }

// /* Pet Profile*/
// .btn-pet-profile {
//   width: 300px;
//   height: 80px;
// }

// .btn-pet-profile-submit {
//   width: 370px;
//   height: 60px;
// }

// .btn-pet-profile-circle {
//   width: 108px;
//   height: 108px;
// }

//Button Type

.btn-toggle-tab {
  width: 110px;
  height: 20px;
  border-radius: 20px;
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.25);
}

.btn-outlined {
  border: 1px solid $navy-color;
  color: $navy-color;
}

.btn-circle {
  width: 82px;
  border-radius: 50px;
  color: $navy-color;
  background-color: $green-color;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.icon-btn--profile {
  width: 35px;
  height: 35px;
  border: 2px solid $yellow-color;
  border-radius: 17.5px;
}

//Color

.btn-contained-yellow {
  background-color: $yellow-color;
  color: $navy-color;
}

.btn-contained-purple {
  background-color: $purple-color;
  color: $navy-color;
}

.btn-contained-light-purple {
  background-color: $light-purple;
  color: $navy-color;
}

.btn-contained-green {
  background-color: $green-color;
  color: $navy-color;
}

.btn-contained-white {
  background-color: $white-color;
  color: $navy-color;
}
