form {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;

  .radios-area {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 1rem;

    label {
      width: 100%;
    }
  }

  .input-area {
    text-align: left;
  }

  .input-area--two-column {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
  }

  .input-area-half {
    width: 100%;
  }

  .btn-area {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
  }
}

@media screen and (min-width: $tb-breakpoint) {
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .img-area,
    .radios-area,
    .btn-area,
    .input-area--two-column {
      grid-column: span 2;
    }

    input,
    select,
    textarea {
      width: 100%;
    }
  }

  .contact .basic-form {
    align-items: center;
  }

  .meal-form,
  .walk-form {
    .btn-area {
      flex-direction: row-reverse;

      button {
        width: 100%;
      }
    }
  }
}
