input,
.input,
select {
  box-sizing: border-box;
  width: $input-width-full;
  height: $input-height-mb;
  border-radius: $input-borderradius;
  background-color: $base-color;
  border: none;
  padding: 0 1rem;
  font-size: $input-fontsize-mb;

  @media screen and (min-width: $tb-breakpoint) {
    width: $input-width;
    height: $input-height-pc;
    font-size: $input-fontsize-pc;
  }
}

textarea {
  width: $input-width-full;
  padding: 0.5rem 1rem;
  border-radius: $input-borderradius;
  background-color: $base-color;
  border: none;

  @media screen and (min-width: $tb-breakpoint) {
    width: $input-width;
  }
}

input[type='radio'] {
  height: $input-radio-size;
}

input::placeholder,
textarea::placeholder,
select:invalid {
  color: $disabled-color;
}

label {
  color: $font-color;
}
