input,
.input,
select {
  width: 100%;
  height: $input-height-mb;
  border-radius: $input-borderradius;
  background-color: $base-color;
  border: none;
  padding: 0 1rem;
  font-size: $input-fontsize-mb;

  @media screen and (min-width: $tb-breakpoint) {
    width: $input-width;
    height: $input-height-pc;
    font-size: $input-fontsize-pc;
  }
}

textarea {
  width: 100%;
  padding: 1rem;
  border-radius: $input-borderradius;
  background-color: $base-color;
  border: none;

  @media screen and (min-width: $tb-breakpoint) {
    width: $input-width;
  }
}

input[type='radio'] {
  height: $input-radio-size;
  width: $input-radio-size;
}

input::placeholder,
textarea::placeholder,
select:invalid {
  color: $disabled-color;
}

label,
.label {
  display: block;
  margin-bottom: 0.25rem;
  color: $font-color;
  font-weight: $label-fontweight;
}
